### numpy

In [1]:
import numpy as np

In [2]:
a=np.array([1.,2.,3.,])
b=np.array([4.,5.,6.,])

#c=a@b
#c=a.dot(b)
c=np.dot(a,b)

print(c)

32.0

In [3]:
def numpy_dotproduct_approach(x,w):
    return x.dot(w)

large_a=np.arange(1000) #np.arange(strat,stop,step) 
large_b=np.arange(1000) #a,b=(0,1,2,...999)

%timeit numpy_dotproduct_approach(large_a,large_b)  #numpy is faster than list type

1.99 µs ± 78 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

##### N-dimensional array

In [4]:
lst=[[1,2,3],[4,5,6]]
ary2d = np.array(lst)

print(ary2d)

[[1 2 3]
 [4 5 6]]

In [5]:
ary2d[1,2] #2행 3열

6

##### Array function

In [6]:
ary2d.dtype

dtype('int32')

In [7]:
floatAry=ary2d.astype('float32')
floatAry

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)

In [8]:
ary2d.size

6

In [9]:
ary2d.ndim #dimension of ary2d

2

In [10]:
ary2d.shape

(2, 3)

In [11]:
np.array([1.,2.,3.,]).shape #one-dimensional array

(3,)

##### Array construction

In [12]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [13]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [14]:
np.zeros((3,3))+99

array([[99., 99., 99.],
       [99., 99., 99.],
       [99., 99., 99.]])

In [15]:
np.eye(3) #단위행렬

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
np.diag((5,5,5)) #대각행렬

array([[5, 0, 0],
       [0, 5, 0],
       [0, 0, 5]])

In [17]:
np.arange(4,10)

array([4, 5, 6, 7, 8, 9])

In [18]:
np.arange(2,10,2)

array([2, 4, 6, 8])

In [19]:
np.linspace(0.,1.,num=5) #0부터 1사이를 5개로 나눈다

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

##### Array indexing

In [20]:
ary = np.array([1,2,3])
ary[0]

1

In [21]:
ary[:2]

array([1, 2])

In [22]:
ary2d = np.array([[1,2,3],[4,5,6]])
print("upper left : ",ary2d[0,0])
print("lower right : ",ary2d[-1,-1])
print("first row, second column : ",ary2d[0,1])

upper left :  1
lower right :  6
first row, second column :  2

In [23]:
print("entire first row:",ary2d[0])
print("entire second column:",ary2d[:,1])
print("first two columns:")
ary2d[:,:2] # 2 is stop value

entire first row: [1 2 3]
entire second column: [2 5]
first two columns:

array([[1, 2],
       [4, 5]])

##### Universal functions

In [24]:
lst = [[1,2,3],[4,5,6]]

for row_idx,row_val in enumerate (lst): #error without ()
    for col_idx,col_val in enumerate (row_val): 
        #enumerate makes tuple type (list idex, list value)
        lst[row_idx][col_idx] += 1

lst

[[2, 3, 4], [5, 6, 7]]

In [25]:
lst = [[1,2,3],[4,5,6]]
[[cell + 1 for cell in row] for row in lst] #list comprehension

[[2, 3, 4], [5, 6, 7]]

In [26]:
ary = ([1,2,3],[4,5,6])
ary = np.add(ary,1)
ary

array([[2, 3, 4],
       [5, 6, 7]])

In [27]:
ary**2

array([[ 4,  9, 16],
       [25, 36, 49]], dtype=int32)

In [28]:
ary = np.array([[1,2,3], 
                [4,5,6]])
np.add.reduce(ary) #column sums #same as 'np.add.reduce(ary,axis=0)'

array([5, 7, 9])

In [29]:
np.add.reduce(ary,axis=1) #row sums [1+2+3,4+5+6]

array([ 6, 15])

In [30]:
print(ary.sum()) #sum every elements
print(ary.sum(axis=1)) #row sums 옆방향
print(ary.sum(axis=0)) #col cums 아래방향

21
[ 6 15]
[5 7 9]

In [54]:
ary1 = np.array([1,2,3])
ary2 = np.array([4,5,6])
ary3 = np.array([[1,2,3],
                 [4,5,6]])
print(ary1+ary2)
print(ary1+ary3)

[5 7 9]
[[2 4 6]
 [5 7 9]]

##### Advanced indexing

slicing creates views

In [44]:
ary = np.array([[1,2,3],
                [4,5,6]])
first_row = ary[0]
first_row

array([1, 2, 3])

In [45]:
first_row +=99
ary

array([[100, 101, 102],
       [  4,   5,   6]])

---------

In [37]:
ary = np.array([[1,2,3],
                [4,5,6]])
first_row = ary[:1]
first_row

array([[1, 2, 3]])

In [38]:
first_row +=99
ary

array([[100, 101, 102],
       [  4,   5,   6]])

_____

In [42]:
ary = np.array([[1,2,3],
                [4,5,6]])
center_col = ary[:,1]
center_col

array([2, 5])

In [43]:
center_col+=99
ary

array([[  1, 101,   3],
       [  4, 104,   6]])

copy method

In [46]:
ary=np.array([[1,2,3],
              [4,5,6]])

first_row = ary[0].copy()
first_row +=99
ary

array([[1, 2, 3],
       [4, 5, 6]])

In [47]:
first_row

array([100, 101, 102])

fancy indexing

In [49]:
ary = np.array([[1,2,3],
                [4,5,6]])

ary[:,[0,2]] #first and last column

array([[1, 3],
       [4, 6]])

In [52]:
ary[:,[2,0]] #last column and first column

array([[3, 1],
       [6, 4]])

In [50]:
this_is_copy = ary[:,[0,2]]
this_is_copy += 99
ary

array([[1, 2, 3],
       [4, 5, 6]])

In [51]:
this_is_copy

array([[100, 102],
       [103, 105]])

Boolean masks

In [55]:
ary = np.array([[1,2,3],
                [4,5,6]])

greater3 = ary>3
greater3

array([[False, False, False],
       [ True,  True,  True]])

In [56]:
ary[greater3]

array([4, 5, 6])

In [57]:
(ary>3)&(ary%2==0)

array([[False, False, False],
       [ True, False,  True]])

In [58]:
ary[(ary>3)&(ary%2==0)]

array([4, 6])

##### Random number generator

In [64]:
np.random.rand(10)

array([0.55131477, 0.71946897, 0.42310646, 0.9807642 , 0.68482974,
       0.4809319 , 0.39211752, 0.34317802, 0.72904971, 0.43857224])

In [63]:
np.random.seed(123) #if we use seed number
np.random.rand(3) #same random numbers are generated

array([0.69646919, 0.28613933, 0.22685145])

In [77]:
rng1 = np.random.RandomState(seed=123)
rng1.rand(3)

array([0.69646919, 0.28613933, 0.22685145])

In [78]:
rng2 = np.random.default_rng(seed=123)
rng2.random(3) #rand 아니고 random...

array([0.68235186, 0.05382102, 0.22035987])

##### reshaping

In [81]:
ary1d = np.array([1,2,3,4,5,6])
ary2d_view = ary1d.reshape(2,3)
ary2d_view

#ary2d_view+=99
#ary1d -> [100,101,102,103,104,105]

array([[1, 2, 3],
       [4, 5, 6]])

In [82]:
ary1d.reshape(2,-1) #set two rows

array([[1, 2, 3],
       [4, 5, 6]])

In [83]:
ary1d.reshape(-1,2) #set two columns

array([[1, 2],
       [3, 4],
       [5, 6]])

In [84]:
ary = np.array([[1,2,3],
                [4,5,6]])
ary.reshape(-1)

array([1, 2, 3, 4, 5, 6])

concatenate

In [86]:
ary= np.array([1,2,3]) #1-d
np.concatenate((ary,ary)) #axis추가하면 error

array([1, 2, 3, 1, 2, 3])

In [91]:
ary= np.array([[1,2,3]]) #2-d
np.concatenate((ary,ary),axis=0) #아래방향

array([[1, 2, 3],
       [1, 2, 3]])

In [92]:
np.concatenate((ary,ary),axis=1) #좌우방향

array([[1, 2, 3, 1, 2, 3]])

##### Linear Algebra

In [96]:
row_vector = np.array([1,2,3])
column_vector = np.array([[1,2,3]]).reshape(-1,1)
print("row vector:",row_vector)
print("col vector: \n",column_vector)

row vector: [1 2 3]
col vector:
 [[1]
 [2]
 [3]]

In [97]:
matrix = np.array([[1,2,3],
                   [4,5,6]])
np.matmul(matrix,column_vector)

array([[14],
       [32]])

In [98]:
np.matmul(matrix,row_vector) #we can calculate this in numpy

array([14, 32])

In [101]:
np.matmul(row_vector,row_vector)

14

In [102]:
print(np.dot(row_vector,row_vector))
print(np.dot(matrix,row_vector))
print(np.dot(matrix,column_vector))
#dot behaves similar to matmul on one or two dimensional arrays

14
[14 32]
[[14]
 [32]]

In [103]:
matrix = np.array([[1,2,3],
                   [4,5,6]])
matrix.transpose()
#same as 'matrix.T'

array([[1, 4],
       [2, 5],
       [3, 6]])

In [104]:
np.matmul(matrix,matrix.transpose())

array([[14, 32],
       [32, 77]])